@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}

body {
  margin-top: 1rem;
  background-color: #ccc;
}

header,
main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #00b4d8;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.212);
}

.between {
  background-color: #54d2eb4d;
  border-radius: 10px;
  padding: 0.7rem;
}

.header--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--heading {
  margin-top: 2rem;
}

.header--number {
  width: 10rem;
  margin: 1rem auto;
  font-size: 5rem;
}

main {
  display: flex;
  flex-direction: column;
}

.message,
.left,
.guess {
  font-size: 1.5rem;
}

.guess {
  text-align: center;
}

.right input {
  width: 10rem;
  height: 15vh;
  margin-top: 2rem;
}

.check {
  padding: 1rem 3rem;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
  display: block;
}

@media (min-width: 370px) {
  .between {
    background-color: #fce7acd5;
    border-radius: 10px;
    padding: 0.7rem;
  }
}
